@import "_theme";
@import "_variable";

//单行长文本截断
%text_cut_line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//长按钮（可用）
%long-active-button {
  width: 100%;
  height: 88rpx;
  line-height: 88rpx;
  text-align: center;
  background: #42dbee;
  border-radius: 22rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
}

//长按钮（禁用）
%long-disable-button {
  width: 100%;
  height: 88rpx;
  line-height: 88rpx;
  text-align: center;
  background: #42dbee;
  border-radius: 22rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.3;
}
